* text=auto eol=lf

*.ico binary
*.jpeg binary
*.jpg binary
*.png binary
*.webp binary
*.eot binary
*.ttf binary
*.woff binary
*.woff2 binary

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
